

body{
    background-color: blue;
    
}
h1{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.container{
    /* display: flex; */
    flex-direction: column;
    margin: 150px auto;
    padding: 10px 0px;
    border: 1px solid yellow;
}
h2{
    font-size: 2rem;
    text-align: center;
}
div{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
button{
    font-size: 1.5rem;
    padding: 15px;
    margin: 10px;
    background-color: green ;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.reset{
    background-color: red;
}
.start{
    background-color: rgb(207, 207, 45);
}